body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: none;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}

.overlayCreditos{
   display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: none;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}

.overlay .texto {
    font-weight: bold;
}

.cerrarOverlay {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cerrarOverlay2 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#listaCapitulos {
    list-style: none;
    padding: 0;
}

#listaCapitulos li{
    color: #666;
    border-bottom: 1px solid #eee;
    padding: 8px;
    font-size: 13px;
}

#listaCapitulos li:hover {
    background: #f4f4f4;
    cursor: pointer;
    transition: background ease-in-out .2s;
}

#listaCapitulos li span{
    color: #007b99;
    margin-right: 30px;
}

.imagenReproductor {
    margin-right: 0.5rem;
}

.containerReproductor {
    position: relative;
    display: flex;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;;
}

.elementosReproductor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1rem;
    /* border: 3px solid rgb(0, 26, 255); */
}

.headerReproductor {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-bottom: 1rem;
}

.playreproductor {
    margin-right: 0.5rem;
}

.imgVelocidad {
    background-image: url(../img/1x.svg);
}

.imgMenu {
    background-image: url(../img/menu.svg);
}

.imgVelocidad125 {
    background-image: url(../img/1_25.svg);
}

.imgVelocidad15 {
    background-image: url(../img/1_5.svg);
}

.imgVelocidad2 {
    background-image: url(../img/2x.svg);
}

.imgadelantar {
    background-image: url(../img/30.svg);
}

.imgretrasar {
    background-image: url(../img/10.svg);
}

.imgInfo {
    background-image: url(../img/info.svg);
}

.imgadelantar, .imgVelocidad, .imgretrasar, .imgVelocidad125, .imgVelocidad15, .imgVelocidad2, .imgMenu, .imgInfo {
        width: 25px;
        height: 25px;
        background-size: cover;
}


.btn-play, .btnretrasar, .btnVelocidad, .btnAdelantar, .btnMenu, .btncreditos {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
}


.fa-circle-play {
    font-size: 60px;
    color: #007b99;
}

.fa-circle-play:hover {
    color: #03a6cf;
}

.fa-circle-pause {
    font-size: 60px;
    color: #007b99;
}

.fa-circle-pause:hover {
    color: #03a6cf;
}

.tituloReproductor p {
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}

.tituloReproductor h1,h2{
    font-size: 23px;
    font-weight: 800;
    color: #666;
    line-height: 20px;
}

/* Progress Bar */
#progress-bar {
    width: 100%;
}

.waveform {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.current-time, .duration, .separadorTime {
    color: #999;
    font-size: 13px;
    font-weight: 500;
}

.btnretrasar, .btnVelocidad, .btnAdelantar, .btnMenu, .btncreditos {
    color: #999;
    margin-right: 1.5rem;
    opacity: 0;
}

.containerReproductor:hover .btnretrasar {
    opacity: 1;
}

.containerReproductor:hover .btnVelocidad {
    opacity: 1;
}

.containerReproductor:hover .btnAdelantar {
    opacity: 1;
}

.containerReproductor:hover .btnMenu {
    opacity: 1;
}

.containerReproductor:hover .btncreditos {
    opacity: 1;
}

.botones {
    display: flex;
    justify-content:space-between;
    margin-left: 1rem;
}


/* Tablet
@media (min-width: 768px) {



} */

/*Mobile*/
@media (max-width: 517px) {
.containerReproductor {
    flex-direction: column;
    align-items: center;
}

.headerReproductor {
    margin-top: 0.5rem;
}

.fa-circle-play {
    font-size: 80px;
}

.fa-circle-pause {
    font-size: 80px;
}

.tituloReproductor p {
    font-size: 13px;
}

.tituloReproductor h1{
    font-size: 16px;

}


}
